/* src/App.css */
@import './utils/toast.css';
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1100; /* Выше чем сайдбар */
  /* остальные стили хедера */
}